h2.login-title {
  color: darkblue;
}

button.login-btn {
  background-color: #007bff;
  color: white;
  border: none;
}

button.login-btn:hover {
  background-color: #0056b3;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full height of viewport */
}

.login {
  width: 300px;
  height: 500px;
  padding: 20px;
  background: white;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}
.input-container {
  position: relative;
  width: 100%;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  background-color: white;
}

.input-container i {
  position: absolute;
  left: 10px; /* Adjust spacing */
  font-size: 16px;
  color: gray;
}

.input-container input {
  width: 100%;
  padding: 10px 10px 10px 35px; /* Add padding so text doesn't overlap the icon */
  border: none;
  outline: none;
  background: transparent;
}

p {
  margin-bottom: 5px;
}

a {
  display: block;
  text-align: center;
  text-decoration: none;
  color: blue;
}
.input-group {
  display: flex;
  align-items: center;
  border: 1px solid rgb(136, 136, 136);
  border-radius: 5px;
  margin-bottom: 10px;
  padding-left: 10px;
}

.input-group input {
  background-color: transparent;
  border: none;
}

.input-group input:focus {
  border: none;
  outline: none;
}
