/* Common styles for both login and register pages */
body, html {
  overflow-y: auto;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #6f9caf; /* Light blue background */
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  min-height: 50vh;
  width: 50vw;
  color: black;
}

.form {
  background: rgba(137, 178, 203, 0.9);
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  width: 90%;
  max-width: 400px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

h2 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 0px;
}

/* Input styling */
input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: #f0f8ff;
  color: black;
}

/* Button styling */
button {
  width: 100%;
  padding: 12px;
  background-color: white;
  color: black;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  background-color: lightgray;
}

/* Link styling */
p a {
  color: black;
  text-decoration: none;
  font-weight: bold;
}

p a:hover {
  text-decoration: underline;
}
